app = "pms-transaction-service"
primary_region = "hkg"

[build]
  dockerfile = "Dockerfile"

[env]
  SERVER_PORT = "8082"
  SPRING_PROFILES_ACTIVE = "prod"

[[services]]
  internal_port = 8082
  protocol = "tcp"
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.http_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "5s"
    method = "get"
    path = "/actuator/health"

[http_service]
  internal_port = 8082
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
